@font-face {
    font-family: 'PoiretOne-Regular';
    src: url('https://raw.github.com/jbutcher2002/dev-landing-page/blob/master/css/PoiretOne-Regular.ttf');

    
    font-style: normal;
} 

@font-face {
    font-family: 'lgFnt';
    src: url('https://raw.github.com/jbutcher2002/dev-landing-page/blob/master/css/ParkLaneNF.ttf');
    
    font-style: normal;
} 
